.mainblock {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: (50px, auto);
    grid-gap: 20px
}

.contextblock {
    grid-column: 2/8;
    grid-row: 2/4;
}

.rightmenublock {
    grid-column: 8/9;
    grid-row: 2/5;
}

.leftmenublock1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.leftmenublock2 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.footerblock {
    display: grid;
    grid-column: 1/8;
    grid-row: 4;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
}

.titleblock {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: left;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}

.contextblock {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
}

.tittle {
    border: 4px double black;
}

.rightadd {
    width: 140px;
}

.leftadd {
    width: 140px;
}

.contextimg {
    width: 240px;
    margin: 12px;
}

.tittle {
    border: 4px double black;
}

body {
    font-style: sans-serif;
}

.titleblock,
.footerblock {
    background-color: #800000;
    color: white;
}

.contextblock,
.leftmenublock1,
.leftmenublock2,
.rightmenublock {
    background-color: #DEB887;
}

#work {
    position: absolute;
    border: 2px solid purple;
    /* background-color: rgba(242, 221, 254, 0.8);*/
    background-color: rgba(53, 197, 53, 0.8);
    /*font-size: 6em;*/
    animation-name: movingWORK;
    opacity: 100;
    width: 60%;
    height: 80%;
    position: absolute;
    /* top: 0;
    left: 0;*/
    top: -9999px;
    left: -9999px;
}

#anim {
    width: 99%;
    height: 90%;
    border: 5px solid red;
    position: absolute;
    bottom: 0;
    background-image: url(images/shrek1.png);
}

#btn_start {
    position: absolute;
    top: 0;
    left: 0;
}

#btn_start,
#btn_reload,
#btn_stop {
    width: 30%;
    font-size: 18px;
}

#btn_reload,
#btn_stop {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#btn_close {
    position: absolute;
    top: 0;
    right: 0;
}

#controls {
    /* border: 2px solid purple; */
    position: absolute;
    height: 8%;
    width: 99%;
    margin-right: 30px;
    margin-bottom: 50px;
    top: 0;
    left: 0;
}

#controls_btns {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

#controls_text {
    /* border: 2px dotted rgb(14, 196, 236); */
    height: 100%;
    width: 50%;
    /*margin: 0 auto;*/
    position: absolute;
    top: 0;
    left: 0;
}

div.yellow {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 20px;
    height: 20px;
    background: yellow;
    transition: width 2s;
    border: 2px solid purple;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 0 10px rgb(13, 50, 61);
    -webkit-box-shadow: 0 0 10px rgb(17, 255, 4);
    box-shadow: 0 0 10px rgb(255, 4, 209);
}

div.yellow:hover {
    width: 300px;
}

@keyframes movingWORK {
    /*бонусна приколюха*/
    0% {
        transform: translate(0, 0);
        opacity: 0.4;
    }
    25% {
        opacity: 0.9;
    }
    50% {
        transform: translate(150px, 200px);
        opacity: 0.2;
    }
    100% {
        transform: translate(40px, 30px);
        opacity: 0.8;
    }
}